@model UniversityEnrollment.ViewModels.FilterStudents

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
<a asp-action="Create">Create New</a>
</p>
}

<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        First or last name: <input type="text" asp-for="fullName" />
        Student ID: <input type="text" asp-for="studentId" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students[0].studentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].enrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].acquiredCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].currentSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].educationLevel)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acquiredCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentSemester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.educationLevel)
            </td>
           
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    { <a asp-action="Edit" asp-route-id="@item.studentId">Edit</a> } |
                <a asp-action="Details" asp-route-id="@item.studentId">Details</a> |
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    { <a asp-action="Delete" asp-route-id="@item.studentId">Delete</a> }
            </td>
        </tr>
}
    </tbody>
</table>